PLCswc/iMesImage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="iMesImage"
  targetNamespace="http://localhost/iMesImage.wsdl"
  xmlns:tns="http://localhost/iMesImage.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:iMesImage"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:iMesImage"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:iMesImage"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <!-- operation request element -->
    <element name="uploadData">
      <complexType>
          <sequence>
            <element name="macCode" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__uploadData::macCode -->
            <element name="wipEntityId" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__uploadData::wipEntityId -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="uploadDataResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__uploadData::result -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="DownloadData">
      <complexType>
          <sequence>
            <element name="data" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__DownloadData::data -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="DownloadDataResponse">
      <complexType>
          <sequence>
            <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__DownloadData::value -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="test1">
      <complexType>
          <sequence>
            <element name="input" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__test1::input -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="test1Response">
      <complexType>
          <sequence>
            <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__test1::result -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="uploadDataRequest">
  <part name="Body" element="ns:uploadData"/><!-- ns__uploadData::ns__uploadData -->
</message>

<message name="uploadDataResponse">
  <part name="Body" element="ns:uploadDataResponse"/>
</message>

<message name="DownloadDataRequest">
  <part name="Body" element="ns:DownloadData"/><!-- ns__DownloadData::ns__DownloadData -->
</message>

<message name="DownloadDataResponse">
  <part name="Body" element="ns:DownloadDataResponse"/>
</message>

<message name="test1Request">
  <part name="Body" element="ns:test1"/><!-- ns__test1::ns__test1 -->
</message>

<message name="test1Response">
  <part name="Body" element="ns:test1Response"/>
</message>

<portType name="iMesImagePortType">
  <operation name="uploadData">
    <documentation>Service definition of function ns__uploadData</documentation>
    <input message="tns:uploadDataRequest"/>
    <output message="tns:uploadDataResponse"/>
  </operation>
  <operation name="DownloadData">
    <documentation>Service definition of function ns__DownloadData</documentation>
    <input message="tns:DownloadDataRequest"/>
    <output message="tns:DownloadDataResponse"/>
  </operation>
  <operation name="test1">
    <documentation>Service definition of function ns__test1</documentation>
    <input message="tns:test1Request"/>
    <output message="tns:test1Response"/>
  </operation>
</portType>

<binding name="iMesImage" type="tns:iMesImagePortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="uploadData">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="DownloadData">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="test1">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
</binding>

<service name="iMesImage">
  <documentation>gSOAP 2.8.101 generated service definition</documentation>
  <port name="iMesImage" binding="tns:iMesImage">
    <SOAP:address location="http://localhost/iMesImage.cgi"/>
  </port>
</service>

</definitions>
